In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

### Entropy 구하기

$Entropy(A)\ =\ -\sum_{k=1}^m p_k log_2(p_k)$

In [5]:
# getEntropy(df, "class_buys_computer")

0.9402859586706311

In [3]:
def getEntropy(df, feature) :
    
    entropy = 0 
    feature_class = df[feature].unique()
    
    for i in feature_class :
        p = sum(df[feature]==i) / len(df[feature])
        entropy -= p*np.log2(p)
    
    
    return(entropy)

In [4]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

### Information Gain 구하기

$Gain(S,A) = E(S) - I(S,A)$ <br>
$I(S,A) = \sum_i{|S_i|\over|S|} E(S_i)$

In [57]:
# getGainA(df, "class_buys_computer")

[['age', 0.24674981977443933],
 ['income', 0.02922256565895487],
 ['student', 0.15183550136234159],
 ['credit_rating', 0.04812703040826949]]

In [5]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장

    result = {}
    total = len(df) 

    # 각 변수의 I(S,A)를 구한 후 Info_D에 이를 빼 줌으로써 Information Gain을 구합니다. 
    for i in columns:
        entropy = 0 # 한 변수의 I(S,A)를 구한 후 entropy를 초기화해줍니다. 
        
        # I(S,A) 구하는 부분
        for j in df[i].unique():
            entropy += (sum(df[i]==j)/total) * getEntropy(df[df[i]==j], feature)
        
        # Information Gain 구하는 부분
        result[i] = info_D - entropy
    
    return(result)

In [6]:
getGainA(df, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}